{% extends 'adminTemplate.html.twig' %}

{% block title %}Livraison{% endblock %}

{% block body %}
    <nav class="navbar navbar-dark bg-dark mb-3 rounded">
        <span class="navbar-brand mb-0 h1">Livraison</span>
    </nav>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ livraison.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ livraison.nom }}</td>
        </tr>
        <tr>
            <th>Client</th>
            <td>{{ livraison.user }}</td>
        </tr>            <tr>
            <th>Livreur</th>
            <td>{{ livraison.livreur }}</td>
        </tr>
        <tr>
            <th>Commande</th>
            <td>{{ livraison.commande }}</td>
        </tr>
        <tr>
            <th>Etat</th>
            <td>{{ livraison.etat }}</td>
        </tr>
        <tr>
            <th>Qr Code</th>
            <td><script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>

                <div id="qrcode"></div>
                <script>
                const qrcode = new QRCode(document.getElementById('qrcode'), {
                text: '\t--- Livraison num : {{ livraison.id }} ---\nReference : {{ livraison.nom }} \nClient : {{ livraison.user.prenom}} \nLivreur : {{ livraison.livreur.prenom}} \nCommande id : {{ livraison.commande}} \nEtat : {{ livraison.etat}} \n',
                width: 128,
                height: 128,
                colorDark : '#000',
                colorLight : '#fff',
                correctLevel : QRCode.CorrectLevel.H
                });
                </script>
            </td>
        </tr>
        </tbody>
    </table>




    {{ include('livraison/_delete_form.html.twig') }}
{% endblock %}